<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">AdventureWorks2019</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>

    <div class="container"> 
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-12 col-md-7- col-sm-6">
                    <h3>Selected Product</h3>
                    <p class="text-warning"> <%= prod[0].Name %> </p>
                    <h5>There's a special offer for this product</h5>
                </div>
            </div>
        </div>
        
        <div class="bs-docs-section">
          <div class="row">
            <div class="col-lg-12">
              <div class="bs-component">
                <div class="c-md-7">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col"><h5>Product Id</h5></th>
                        <th scope="col"><h5>Special Offer ID</h5></th>
                        <th scope="col"><h5>Description</h5></th>
                        <th scope="col"><h5>Min Quantity</h5></th>
                        <th scope="col"><h5>Max Quantity</h5></th>
                        <th scope="col"><h5>Discount</h5></th>
                      </tr>
                    </thead>
                    <% if(results){ %>
                      <% for(var i=0; i < results.length; i++){ %>
                        <tbody>
                          <tr class="table-active">
                            <td><%= results[i].ProductID %></td>
                            <td><%= results[i].SpecialOfferID %></td>
                            <td><%= results[i].Description %></td>
                            <td><%= results[i].MinQty %></td>
                            <td><%= results[i].MaxQty %></td>
                            <td><%= results[i].DiscountPct %></td>
                          </tr>
                        </tbody>
                        <% } %>
                    <% } %>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="bs-docs-section">
          <div class="row">
            <div class="col-lg-12">
              <div class="bs-component">
                <form>
                  <fieldset>
                    <legend>Purchase data</legend>
                    <div class="form-group">
                      <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                      <small id="emailHelp" class="form-text test-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label mt-4" for="inputDefault">Quantity</label>
                      <input type="text" class="form-control" placeholder="Enter Quantity" id="productQuantity">
                    </div>
                    <div class="form-group">
                      <label class="col-form-label mt-4" for="inputDefault">Special Offer ID</label>
                      <input type="text" class="form-control" placeholder="Enter SpecialOfferID" id="specialOfferID">
                    </div>           
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="bs-docs-section">
          <div class="row" >
            <div class="col-lg-12">
              <button type="button" class="btn btn-success">Success</button>
            </div>
          </div>
        </div>
      </div>

</body>
</html>